:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

main {
  margin: 0 10px;
  max-width: 520px;
  padding-bottom: 50px;
}

main > div.footnotes {
  margin-bottom: 10px;
}

main > div.footnotes > p {
  font-size: 0.875rem;
}

main > h1 {
  margin: 30px 0 10px 0;
}

main > div.error {
  border: 1px solid crimson;
  border-radius: 5px;
  padding: 10px;
  color: crimson;
  font-size: 0.875rem;
}

main > div.error > p:first-child {
  font-size: 1rem;
}

main > div.table-parent,
main > div.loading {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
}

main > div.table-parent > table {
}

main > div.table-parent > table > thead > tr > th,
main > div.table-parent > table > tbody > tr > td {
  text-align: start;
  padding: 3px 5px;
}

main > div.table-parent > table > thead > tr > th {
  padding-top: 0;
}

main > div.table-parent > table > tbody > tr > td.rank {
  color: grey;
}

main > div.loading {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

main > div.loading > ul {
  list-style: none;
}